@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}


/* header start */
:root{
    --bg-color: #ffffff;
    --text-color:#5e473e;
    --main-color: #9e7464;
    --yellow: #FFBD13;
	--light: #F5F5F5;
	--grey: #AAA;
	--white: #FFF;
	--shadow: 8px 8px 30px rgba(0,0,0,.05);
    --big-font:4.5rem;
    --h2-font:3.3rem;
    --h3-font:2rem;
    --normal-font:1rem;
}
body{
    background-image: url(img/login.png);
    background-size: cover;
}


a i{
    color:#5e473e;
}

a i:hover{
    color: #e1cec7;
}

header .dropbtn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* react feadback start */
.h-fb a h1{
  margin-left: 570px;
  margin-top: 60px;
  font-size: 40px;
  color: var(--text-color);
}
.h-fb a h1:hover{
  color: var(--main-color);
}
.wrapper{
	background: var(--white);
	padding: 2rem;
	max-width: 576px;
	width: 100%;
	border-radius: .75rem;
	box-shadow: var(--shadow);
	text-align: center;
  margin-top: 5%;
  margin-left: 450px;
}
.wrapper h3 {
	font-size: 1.5rem;
	font-weight: 600;
    color: #5e473e;
	margin-bottom: 1rem;
}
.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	font-size: 2rem;
	color: var(--yellow);
	margin-bottom: 2rem;
}
.rating .star {
	cursor: pointer;
}
.rating .star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}


@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.rating .star:hover {
	transform: scale(1.1);
}
textarea {
	width: 100%;
	background: var(--light);
	padding: 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	resize: none;
	margin-bottom: .5rem;
}
.btn-group {
	display: flex;
	grid-gap: .5rem;
	align-items: center;
}
.btn-group .btn {
	padding: .75rem 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: .875rem;
	font-weight: 500;
}
.btn-group .btn.submit {
	background: var(--text-color);
	color: var(--white);
}
.btn-group .btn.submit:hover {
	background: var(--main-color);
}


/* background attachement start */
.about-2{
  height: 160px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(img/bg.jpg);
}
/* background attachement end*/


/* footer start */
.container-7{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #0000004c;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color:  var(--text-color);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 700;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color:  var(--main-color);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color:  var(--text-color);
	text-decoration: none;
	font-weight: 300;
	color:  var(--text-color);
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color:  var(--text-color);
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(138, 138, 138, 0.629);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: var(--bg-color);
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: var(--bg-color);
	background-color:  var(--bg-color);
}
/* footer end */

